@{
    ViewBag.Title = "Intro";
}
<h2>@ViewBag.Title.</h2>

<p>Este certamen trata sobre crear una solucion utilizando Visual Studio y .Net que incluya dos proyectos, una de WEB API y otra de WEB MVC.
    La API contiene la informacion de estos creados y el MVC contiene lo que vamos a crear, leer, actualizar y borrar.    
</p>
