@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    <br>Te dejo mis datos por si quieres contactarme<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">joaquin.vega.rivera2002@gmail.com</a><br />
    <strong>Teléfono:</strong> <a>+56934998590</a>
</address>